extends layout

block content
  h1 Employees
  table(class='table')
    thead
      tr
        th Last Name
        th First Name
        th Title
    tbody(id='employees')
  div(id='error', class='error', style='display: none')
