extends layout

block content
  h1 Employees
    input(id='search-input', class='form-control search', placeholder='Search', type='text')
  +spinner('busy-indicator')
  div(id='employees-container' class='hide')
    table(class='table')
      thead
        tr
          th(id='lastNameColumn', class='sortable sort-arrow up') Last Name
          th(id='firstNameColumn', class='sortable') First Name
          th(id='titleColumn', class='sortable') Title
      tbody(id='employees-table-body')
  div(id='no-results', class='hide') No results to show.
  div(id='error', class='error hide')
