mixin spinner(id)
  div(id=id, class='spinner')
    -for (var i = 0; i < 12; i++) {
    div
    - }

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(type="module" src=`/scripts/common.js`)
    script(type="module" src=`/scripts/${name}.js`)
  body
    div(class='container')
      nav(class='navbar navbar-default border')
        div(class='container-fluid')
          div(class='navbar-header')
            span(class='navbar-brand') Northwind Manager
      block content
